/*Шрифты*/
@font-face {
    font-family: 'europe';
    src: url('/fonts/europe.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'europe';
    src: url('/fonts/europe-b.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'europe';
    src: url('/fonts/europe-i.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'europe';
    src: url('/fonts/europe-bi.ttf');
    font-weight: bold;
    font-style: italic;
}


/*Анимация*/
@-webkit-keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


/*Общие элементы*/
body {
    margin: 0px;
    font-family: 'europe', monospace;
}
h2 {
    margin: 10px 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #18a518;
    cursor: pointer;
}
:focus {
    outline: none;
}
pre {
    margin: 10px;
    padding: 10px;
    background: #ffedf2;
    border: 1px solid #c39ea9;
}
input, select, textarea {
    font-family: monospace;
}
.mobile {
    display: none;
}


/*Видео на бэкграунде*/
#background-video {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 1500px;
    height: 0px;
    padding-bottom: 56.25%;
    background-color: #6e6e6e;
}
#ytplayer-shield {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}


/*Собственно сайт*/
.site {
    position: relative;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
}
.site.covered {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=3);
    opacity: 0.2;
}


/*Верхнее меню*/
.top {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #18a518;
    z-index: 100;
}
.top a {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0px 5px;
    padding: 0px 5px 0px 40px;
    color: #ffffff;
}
.top a:before {
    content: " ";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 26px;
    height: 26px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
}
.mainpage-link:before {
    background-position: -26px -78px;
}
.install-link:before {
    background-position: -52px -78px;
}
.uninstall-link:before {
    background-position: -78px -78px;
}


/*Основная часть*/
.wrapper {
    position: relative;
    min-height: 100vh;
}


/*Левое меню*/
.left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #eeeeee;
}
.left p {
    margin: 10px 0px;
    text-align: center;
}
.selector {
    margin: 0px 10px;
    padding: 0px;
    border: none;
    font-size: 0px;
    text-align: center;
}
.selector input {
    display: none;
}
.selector label {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    background-color: #a5a5a5;
}
.selector label:nth-child(2) {
    border-radius: 20px 0px 0px 20px;
}
.selector label:nth-child(12) {
    border-radius: 0px 20px 20px 0px;
}
.selector input:checked + label {
    background-color: #18a518;
}
.left a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #18a518;
}
.left a:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
}
.issue-link:before {
    background-position: -270px -90px;
}
.bco-link:before {
    background-position: -300px -90px;
}
.bs-link:before {
    background-position: -330px -90px;
}
.bu-link:before {
    background-position: -360px -90px;
}
.br-link:before {
    background-position: -390px -90px;
}


/*Информационная часть*/
.main {
    margin: 0px 0px 0px 250px;
    padding: 10px;
    overflow: hidden;
}
.main table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    font-family: monospace;
}
.main tr:nth-child(1) {
    background-color: #a5a5a5;
    color: #ffffff;
}
.main td {
    padding: 2px;
    border: 1px solid #a5a5a5;
    text-align: center;
    word-break: break-all;
}
.main td.right-text {
    text-align: right;
}
.main td.left-text {
    text-align: left;
}
.main td.word-text {
    word-break: break-word;
}
.main .mobile {
    font-size: 10px;
    font-family: monospace;
}
.mobile-table-row {
    margin: 10px 0px;
}
.mobile-table-item {
    text-overflow: ellipsis;
    overflow: hidden;
}


/*Консоль сообщений*/
.console {
    margin: 10px 0px;
    padding: 10px;
    font-family: monospace;
}
.console-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#console {
    height: 500px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    overflow-x: hidden;
    overflow-y: scroll;
}
.console-line {
    white-space: pre;
}
.console-line a {
    border-bottom: 1px dashed #18a518;
}
.console-line.success-line {
    color: #18a518;
}
.console-line.error-line {
    color: #a51818;
}
.console-line.array-line {
    color: #a518a5;
}
.console-line.attract-line {
    color: #a5a518;
}
#console .console-line:nth-child(1):after {
    content: " ";
    display: inline-block;
    width: 5px;
    margin-left: 5px;
    background-color: #18a518;
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}
#console .console-line {
    border-left: 5px solid;
    padding-left: 5px;
}


/*Подвал сайта*/
#footer {
    width: 100%;
    height: 100px;
    padding: 20px 20px 20px 150px;
    box-sizing: border-box;
    border-top: 3px double #a5a5a5;
    text-align: center;
    background-color: #ffffff;
    background-image: url(/images/witch.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}


/*Форма отправки транзакций*/
.form-bg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 110;
}
.form {
    position: fixed;
    top: auto;
    bottom: -100%;
    left: auto;
    right: -100%;
    width: 0%;
    height: 0%;
    margin: auto;
    border: 3px double #a5a5a5;
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 50% 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all;
}
.form.active {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 70%;
    height: 85%;
    padding: 20px;
    z-index: 111;
}
.form.loading {
    background-image: url(/images/loading.gif);
}
.form-header {
    padding: 5px 0px;
    text-align: center;
    font-size: 20px;
}
.form-caption {
    padding: 5px 0px;
    text-align: center;
    font-style: italic;
}
.form-paragraph {
    position: relative;
    margin: 10px 0px;
    padding: 10px;
    font-style: italic;
}
.form-attention {
    border: 2px solid #a51818;
    color: #a51818;
}
.form-illustration {
    border: 2px solid #a5a518;
    color: #a5a518;
}
.form-paragraph p {
    margin: 0px;
}
.space {
    height: 10px;
}
.form-field {
    position: relative;
    margin: 2px 0px;
}
.input-field input, .form-field select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px 5px 40px;
    border: 2px solid #a5a5a5;
}
.input-field.unfilled input, .form-field.unfilled select {
    border-color: #a51818;
}
.input-field:before, .select-field:before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 24px;
    height: 24px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
}
.host-field:before {
    background-position: -96px -144px;
}
.name-field:before {
    background-position: -144px -144px;
}
.user-field:before {
    background-position: -120px -144px;
}
.number-field:before {
    background-position: -360px -144px;
}
.pass-field:before {
    background-position: -384px -144px;
}
.sign-field:before {
    background-position: -408px -144px;
}
.denom-field:before {
    background-position: -432px -144px;
}
.algo-field:before {
    background-position: -456px -144px;
}
.checkbox-field {
    text-align: center;
}
.checkbox-field input {
    display: none;
}
.checkbox-field label {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px 5px 30px;
    cursor: pointer;
}
.checkbox-field label:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-image: url(/images/checkboxes.png);
    background-size: 100% auto;
}
.checkbox-field label:hover:before {
    background-position: 0px -20px;
}
.checkbox-field input:checked + label:before {
    background-position: 0px -40px;
}
.form-error.active {
    text-align: center;
    color: #a51818;
}
.send-button, .execute-button, .reload-field {
    text-align: center;
}
.send-button a {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #18a518;
}
.send-button a:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
}
.send-button a:before {
    background-position: -600px -90px;
}


/*Форма установки CMS*/
.form-sides {
    display: table;
    width: 100%;
}
.form-sides .console-line {
    white-space: normal;
}
.form-left, .form-right {
    display: table-cell;
    width: 50%;
}
.form .console-line {
    position: relative;
    line-height: 30px;
    padding-left: 30px;
}
.form .console-line:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
    background-position: -440px 0px;
}
.form .console-line.success-line:before {
    background-position: -440px -120px;
}
.form .console-line.error-line:before {
    background-position: -440px -160px;
}
.form .console-line.array-line:before {
    background-position: -440px -180px;
}
.form .console-line.attract-line:before {
    background-position: -440px -200px;
}

.install-button, .uninstall-button, .reload-button {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    padding: 3px 10px 3px 40px;
    border: 2px solid #18a518;
    box-sizing: border-box;
    font-size: 20px;
    color: #18a518;
}
.install-button:before, .uninstall-button:before, .reload-button:before {
    content: " ";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background-image: url(/images/icons.png);
    background-size: auto 1100%;
}
.install-button:before {
    background-position: -60px -180px;
}
.uninstall-button:before {
    background-position: -90px -180px;
}
.reload-button:before {
    background-position: -240px -180px;
}